* {
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 3%, 87%);
  --DarkGrayishViolet: hsl(279, 6%, 55%);
  --VeryDarkViolet: hsl(278, 68%, 11%);
}

.container-card {
  height: 40vh;
  width: 100%;
  display: block;
  position: relative;
  background: url(../images/bg-main-mobile.png) no-repeat;
  background-size: contain;
}

.container-card img {
  width: 19em;
}
.big-letter {
  color: var(--White);
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.small-letter {
  display: inline-block;
  color: var(--White);
  font-size: 0.8em;
  font-weight: normal;
}
.container-card .card-back {
  position: absolute;
  right: 1em;
  top: 2em;
}

.card-relative {
  position: relative;
}
.card-absolute {
  position: absolute;
}
.container-card .card-front {
  position: absolute;
  left: 1em;
  top: 7.9em;
}
.container-card .card-front img.card-absolute {
  top: 1em;
  left: 1em;
  width: 4em;
}
.container-card .card-front h2:nth-child(3) {
  bottom: 2.5em;
  left: 1em;
}
.container-card .card-front h2:nth-child(4) {
  bottom: 1.2em;
  left: 1.9em;
  font-weight: 400;
  font-size: 0.7em;
  text-transform: uppercase;
}
.container-card .card-front h2:nth-child(5) {
  bottom: 1.2em;
  right: 1.9em;
  font-weight: 400;
  font-size: 0.7em;
  text-transform: uppercase;
}

.small-letter.back {
  display: inline-block;
  color: var(--White);
  font-size: 0.8em;
  font-weight: normal;
  top: 5.6em;
  right: 2.5em;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}
section input {
  width: 90vw;
  border-radius: 0.3em;
  margin-bottom: 1em;
}
.inputs-letter {
  text-transform: uppercase;
  font-size: 0.9em;
  color: var(--VeryDarkViolet);
}
.input-section .flex {
  display: flex;
  width: 100%;
}
.input-section .flex input {
  width: 5em;
}
.input-section .cvc {
  margin: 0 0 0 1em;
}
.input-section .cvc input {
  width: 10em;
}

.input-section .btn-confirm {
  margin: 1em 0 0 0;
  border: 1em solid var(--VeryDarkViolet);
  border-radius: 0.5em;
  color: var(--White);
  background: var(--VeryDarkViolet);
}
