* {
  font-family: "Space Grotesk", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 3%, 87%);
  --DarkGrayishViolet: hsl(279, 6%, 55%);
  --VeryDarkViolet: hsl(278, 68%, 11%);
  --RedError: hsl(0, 100%, 66%);
}

.container-card {
  height: 40vh;
  width: 100vw;
  display: block;
  position: relative;
  background: url(../images/bg-main-mobile.png) no-repeat;
  background-size: 100%;
}

.container-card img {
  width: 19em;
}
.big-letter {
  color: var(--White);
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.small-letter {
  display: inline-block;
  color: var(--White);
  font-size: 0.8em;
  font-weight: normal;
}
.container-card .card-back {
  position: absolute;
  right: 1em;
  top: 2em;
}

.card-relative {
  position: relative;
}
.card-absolute {
  position: absolute;
}
.container-card .card-front {
  position: absolute;
  left: 1em;
  top: 7.9em;
}
.container-card .card-front img.card-absolute {
  top: 1em;
  left: 1em;
  width: 4em;
}
.container-card .card-front h2:nth-child(3) {
  bottom: 2.5em;
  left: 1em;
}
.container-card .card-front h2:nth-child(4) {
  bottom: 1.2em;
  left: 1.9em;
  font-weight: 400;
  font-size: 0.7em;
  text-transform: uppercase;
}
.container-card .card-front h2:nth-child(5) {
  bottom: 1.2em;
  right: 1.9em;
  font-weight: 400;
  font-size: 0.7em;
  text-transform: uppercase;
}

.small-letter.back {
  display: inline-block;
  color: var(--White);
  font-size: 0.8em;
  font-weight: normal;
  top: 5.6em;
  right: 2.5em;
}

.mensagem-aviso {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(58, 58, 58, 0.9);
}
.mensagem-aviso p {
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 3em 0 0 0;
}

.bi.bi-github,
.bi.bi-instagram {
  display: block;
  color: white;
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
}
.mensagem-aviso span {
  display: block;
  margin-top: 1em;
  font-size: 0.5em;
}
.bi.bi-x {
  cursor: pointer;
  font-size: 3em;
  box-sizing: border-box;
  color: rgb(250, 60, 60);
  float: right;
  margin-right: 0.5em;
}
#complete {
  display: none;
}

.img-complete {
  width: 7em;
  margin: 0 auto;
}
.inputs-letter.complete {
  font-size: 3em;
  text-align: center;
  font-weight: 500;
  margin: 0.6em 0 0.2em;
}
.paragraph-complete {
  text-align: center;
  color: var(--DarkGrayishViolet);
  font-size: 1.4em;
  font-weight: 500;
}

.btn-complete {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 2em 0 1em 0;
  border: 1em solid var(--VeryDarkViolet);
  border-radius: 0.5em;
  color: var(--White);
  background: var(--VeryDarkViolet);
}
section {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}
section input {
  width: 90vw;
  height: 3em;
  border: 2px solid var(--LightGrayishViolet);
  border-radius: 0.3em;
  padding: 0 0 0 1em;
}

.input-section h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.input-section .mensagem-erro {
  color: var(--RedError);
  font-size: 0.8em;
}

.input-section .invisivel {
  border-color: var(--RedError);
  display: none;
}

section input:focus {
  outline: 0;
  border: 1px solid var(--VeryDarkViolet);
}
.inputs-letter {
  text-transform: uppercase;
  font-size: 0.9em;
  color: var(--VeryDarkViolet);
}
.input-section .flex {
  display: flex;
  width: 100%;
}
.input-section .flex input {
  width: 4em;
}

.input-section .cvc {
  margin: 0 0 0 4em;
}
.input-section .cvc input {
  width: 10em;
}
.input-section #textoErro-cvc {
  width: 10em;
}

.btn-confirm {
  margin: 2em 0 1em 0;
  border: 1em solid var(--VeryDarkViolet);
  border-radius: 0.5em;
  color: var(--White);
  background: var(--VeryDarkViolet);
  width: 100%;
}
